
body {
  background-color: rgba(66, 66, 66, 0.589);
  
}
h1 {
  color: yellow;
  font-size: 45px;
  margin-left: 36%;
  margin-top: 55px;
  
}
ul {
  margin-left: 88%;
  font-size: 35px;
}

#itemCount {
  margin-left: 5px;
  font-size:28px;
  border: 1px solid rgba(75, 68, 68, 0.589); 

}
.copy {
  margin-top: 35px;
}

#catalog {
  margin-left: 28%;
  color: rgb(20, 77, 110);
  font-style: oblique, bold;
  font-size:120%;
}

legend {
  font-size: 190%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic, bold;
  margin-left: 215px;
  margin-bottom: 25px;
}
footer {
  margin-top: 18%;
  margin-left: 85%;

}
ol {
  margin-left: 25%;
  font-size: 18px;
  color: greenyellow;
  font-style: bold;
  margin-top: 45px;
}

#cart {
  margin-left: 35%;
  margin-top: 30px;
}

th {
  font-size: 28px;
  margin-bottom: 10%;
  margin-top: 10%;
}

li {
  font-size: 24px;
}

#cartContents {
  color: blueviolet;
  font-size: 28px;
  margin-top: 25px;
  margin-left: 45%;
}

#fieldset {
  margin-top: 90px;
  margin-left: 5%;
}

h1:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}